@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-progress {
    background: #ccc;
    width: 100%;
}

.slider-progress-bar {
    background: black;
    height: 4px;
    transition: width 400ms ease;
    width: 0;
    margin-bottom: 1rem;
}

@media (max-width: 320px) {}