@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-progress {
    background: #ccc;
    width: 85%;
    height: 4px;
    position: absolute;
    left: 7%;
    bottom: -52px;
}

.splide__list {
    height: auto;
}

.splide__pagination--ltr {
    display: none;
}

.slider-progress-bar {
    background: black;
    height: 4px;
    transition: width 400ms ease;
    width: 0;
    margin-bottom: 1rem;
    
}



@media (max-width: 320px) {}